name: Danger
on:
  pull_request:
    types: [opened, reopened, edited, synchronize]
jobs:
  danger:
    uses: numbata/danger-pr-comment/.github/workflows/danger.yml@v0.1.0
    with:
      ruby-version: '3.0'
      bundler-cache: true
    secrets: inherit
